#banner{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 45vh;
	opacity: 0.7;
	background-color: #fff;
	transition: 0.5s;
	cursor: pointer;
}
#banner:hover{
	opacity: 1;
	height: 50vh;
}
#banner img{
	width: 100vw;
	height: 100vh;
	align-items: center;
	object-fit: contain;
	overflow: hidden;
	transition: 0.3s;
}

